*{
    font-family: 'Encode Sans', arial, sans-serif;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    min-height: 50px;
}

.navbar-header {
    float: left;
}

.navbar-top {
    border-radius: 0;
    padding: 0 0.35rem;
}

.navbar-default {
    position: relative;
    background-color: #fff;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    margin: 0;
    z-index: 9;
}

.navbar > .container{
    display: inline-block;
}

.bg-celeste-argentina {
    background-color: #37bbed !important;
}

.navbar.navbar-top .input-group {
    width: 500px;
    margin-top: 13px;
    margin-left: 30px;
  }

#cd-login {
    display: inline-block;
  }

#navbarSupportedContent {
    margin: 2px 0;
}

.form-control {
    width: 450px;
    background-color: #ebf8fd;
    color: #303030;
}

.btn-mi-argentina{
    color: #0072bb;
    background-color: #fff;
    text-decoration: none;
    margin-right: 8px;
    border-radius: 50px;
    font-weight: bold;
    margin-left: 13px;
    padding: 0.6rem 1rem;
}

.btn-mi-argentina:hover{
    color: #303030;
    background-color: #fff;
    text-decoration: none;
    margin-right: 8px;
    border-radius: 50px;
    font-weight: bold;
}

.form-control{
    border-radius: .375rem 0 0 .375rem;
}

.btn-search{
    border-radius: 0 30px 30px 0;
    background-color: #fff;
    color:#0072bb;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-search:hover{
    background-color: #fff;
    color:#0072bb;
}
.btn-search:target{
    border: 2px solid yellow;
    background-color: #fff;
    color:#0072bb;
}


.jumbotron {
    position: relative;
    background-position: center center;
    background-size: cover;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: bolder;
}

.jumbotron .jumbotron_bar {
    background: #333;
    padding: 10px 0 5px 0;
}

.jumbotron .jumbotron_body {
    padding: 40px 0;
}

.jumbotron .jumbotron_body p {
    font-size: 19px;
    line-height: 29px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}

.jumbotron p {
    font-weight: 400 !important;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron .container {
    max-width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.jumbotron .jumbotron_bar .breadcrumb li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.pane-page-breadcrumb .pane-content, .jumbotron_bar .col-md-12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.breadcrumb{
    --bs-breadcrumb-divider-color:var(--bs-breadcrumb-divider-color);
}

div .tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
}
img.card-img-top{
    height: 8.5rem;
}
h3.card-title{
    text-align: center;
    color: #333333;
    font-weight: bolder;
}
p.card-text{
    text-align: center;
}
@media screen and (max-width: 767px)
{.jumbotron h1 {
    font-size: 32px !important;
}
}

@media (min-width: 1200px)
{.container {
    width: 1170px;
}
}

@media (min-width: 992px)
{.col-md-offset-2 {
    margin-left: 16.66666667%;
}
}