*{
    font-family: 'Encode Sans', arial, sans-serif;
}

.jumbotron {
    position: relative;
    background-position: center center;
    background-size: cover;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: bolder;
}

.jumbotron .jumbotron_bar {
    background: #333;
    padding: 10px 0 5px 0;
}

.jumbotron .jumbotron_body {
    padding: 40px 0;
}

.jumbotron .jumbotron_body p {
    font-size: 19px;
    line-height: 29px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 50%);
}

.jumbotron p {
    font-weight: 400 !important;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron .container {
    max-width: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.jumbotron .jumbotron_bar .breadcrumb li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.pane-page-breadcrumb .pane-content, .jumbotron_bar .col-md-12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.breadcrumb{
    --bs-breadcrumb-divider-color:var(--bs-breadcrumb-divider-color);
}

@media screen and (max-width: 767px)
{.jumbotron h1 {
    font-size: 32px !important;
}
}

@media (min-width: 1200px)
{.container {
    width: 1170px;
}
}

@media (min-width: 992px)
{.col-md-offset-2 {
    margin-left: 16.66666667%;
}
}